PORT=8052
WHATSAPP_REMETENTE_TESTE=5561993126544
WHATSAPP_NUBIA=5561993126544
WHATSAPP_PROVIDER=zapi
ZAPI_INSTANCE_ID=coloque_o_id_da_instancia
ZAPI_TOKEN=coloque_o_token_da_instancia
ZAPI_CLIENT_TOKEN=coloque_o_client_token
